:root {
    --text: #050505;
    --background: #ffffff;
    --primary: #000000;
}

* {
    font-family: "Courier Prime", monospace;
}

h2 {
    font-size: 1.5rem;
}

body {
    width: auto;
    height: auto;
    overflow: auto;
    background-color: var(--background);
    color: var(--text);
}

a {
    cursor: pointer;
}

button,
input[type="button"],
input[type="submit"] {
    border: none !important;
    background: var(--text) !important;
    color: var(--background) !important;
    padding: 6px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 32px;
    cursor: pointer;
}

input {
    background-color: var(--background);
    border: 1px solid var(--text);
    color: var(--text);
    padding: 10px;
    font-size: 1rem;
}

label {
    color: var(--text);
    font-size: 0.9rem;
    position: relative;
    top: 11px;
    left: 8px;
    width: fit-content;
    background: var(--background);
    font-weight: bold;
    padding: 2px;
    letter-spacing: 1px;
}

input:focus {
    outline: 1px solid var(--text);
}

#fdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

#gdiv {
    display: flex;
    flex-direction: column;
    min-width: 25%;
}

#title {
    text-align: center;
}

#sourcecode {
    padding: 32px 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#sourcecode > p {
    margin: 0;
}

@media (width <= 868px) {
    #sourcecode > p {
        font-size: 0.8rem;
    }
    #sourcecode > a {
        font-size: 0.8rem;
        word-break: break-all;
    }
}
