#qrlink,
#participantlink,
#info {
    text-align: center;
}

#qr {
    aspect-ratio: 1 / 1;
}

#qrlink,
#participantlink {
    margin: 6px 0;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 16px;
}

#home,
#delete {
    width: fit-content;
}

#delete {
    color: #df0909;
}

@media print {
    .hide-on-print {
        display: none !important;
    }
    label {
        color: black;
        background: white;
    }
    input {
        border: 6px solid black;
    }
}
