<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head.tmpl"}}
</head>
<body>
    <main id="fdiv">
        <p>Successfully Unregistered</p>
    </main>

    {{template "sourcecode.tmpl"}}
</body>
</html>
